fastapi==0.117.1
uvicorn[standard]==0.37.0
click==8.3.0
httpx==0.28.1
pydantic==2.11.9
dependency-injector==4.48.2
pytest-asyncio==1.2.0
pytest==8.4.2
black==25.9.0
isort==6.0.1
loguru==0.7.3
google-genai==1.39.1
rich==14.1.0
jinja2==3.1.6
authlib==1.6.4
slowapi==0.1.9
langdetect==1.0.9
reportlab==4.4.4
python-multipart==0.0.20
passlib[bcrypt]==1.7.4